<ion-header>
  <ion-navbar>
    <ion-title>หน้าแรก</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="section">
    <ion-slides pager direction="horizontal" spaceBetween="16">
      <ion-slide *ngFor="let c of promotions; let i=index" (click)="pushToDetail(c.id)">
        <img src="{{c.img}}" alt="" style="width: 100%">
      </ion-slide>
    </ion-slides>
  </div>




      <ion-card *ngFor="let c of promotions; let i=index" (click)="pushToDetail(c.id)">

        <img src="{{c.img}}">


        <ion-item>
          <ion-icon name="md-heart" item-start large style="color:springgreen"></ion-icon>
          <h2>{{c.title}}</h2>
          <p>{{c.detail}}</p>
        </ion-item>





      </ion-card>
























</ion-content>